/exercicio3/nbproject/private/
/exercicio3/build/
/exercicio4/build/
/exercicio4/nbproject/private/
/AcessaBD/target/
/BandodeDados/target/
/checarjogoloto/nbproject/private/
/checarjogoloto/build/
/DataeHoraAtual/nbproject/private/
/DataeHoraAtual/build/
/PodeApagar/nbproject/private/
/PodeApagar/build/
/TeladeLogin/nbproject/private/
/TeladeLogin/build/
/TeladeLogin/dist/
/apague/nbproject/private/
/apague/build/
/AutoPeca/nbproject/private/
/AutoPeca/build/
/AutoPeca/dist/
/Tela/nbproject/private/
/Tela/build/
/Tela/dist/
/AnagramGame/nbproject/private/
/AnagramGame/build/
/checarjogoloto/dist/
/LotofacilComFormulario/target/
/JavaApplication10/dist/
/ChecarJogo/nbproject/private/
/ChecarJogo/build/
/.metadata/
/Numerologia/target/
/MNumerologia/nbproject/private/
/MNumerologia/build/
/MNumerologia/dist/
