/exercicio3/nbproject/private/
/exercicio3/build/
/exercicio4/build/
/exercicio4/nbproject/private/
/AcessaBD/target/
/BandodeDados/target/
/checarjogoloto/nbproject/private/
/checarjogoloto/build/
/DataeHoraAtual/nbproject/private/
/DataeHoraAtual/build/
/PodeApagar/nbproject/private/
/PodeApagar/build/
/TeladeLogin/nbproject/private/
/TeladeLogin/build/
/TeladeLogin/dist/
